.table1{
    height:100vh;
    width:100%;
    background-color: rgb(17, 247, 17);
}
table{
  width:80%;
  height:50%;
    margin:0 auto;
    border:solid greenyellow;
    margin-top:10px;
    border-collapse:collapse;
}
th,td{
    padding:20px;
}
th{
    background-color:yellow;
}
tr{
    border:solid greenyellow 1px;
}
td{
    text-align:center;
    background-color: aliceblue;  
}
.head{
    text-transform:captilize;
    color:azure;
    /* font-size:40px; */
    /* margin-bottom:50px; */
}
caption{
    caption-side: bottom;
    color:beige;
    text-transform:capitalize;
    margin-top:30px;
}

